# Gradle files
.gradle/
.classpath
.project
.settings/
bin/
.vscode/

# Build output
build/
.sonar
target/
bw-outputs/
.scannerwork

# IntelliJ

.idea
*.iml

# mac
.DS_Store

# MSBuild
obj/

# Hosted on config info
hosted_on.txt
